In [2]:
#!pip install sastrawi

Collecting sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     -------------------------------------- 209.7/209.7 kB 4.2 MB/s eta 0:00:00
Installing collected packages: sastrawi
Successfully installed sastrawi-1.0.1

In [87]:
#pip install fuzzywuzzy

#!pip install python-Levenshtein

Collecting python-Levenshtein
  Downloading python_Levenshtein-0.22.0-py3-none-any.whl (9.4 kB)
Collecting Levenshtein==0.22.0
  Downloading Levenshtein-0.22.0-cp39-cp39-win_amd64.whl (101 kB)
     -------------------------------------- 101.0/101.0 kB 1.9 MB/s eta 0:00:00
Collecting rapidfuzz<4.0.0,>=2.3.0
  Downloading rapidfuzz-3.3.1-cp39-cp39-win_amd64.whl (1.8 MB)
     ---------------------------------------- 1.8/1.8 MB 12.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, Levenshtein, python-Levenshtein
Successfully installed Levenshtein-0.22.0 python-Levenshtein-0.22.0 rapidfuzz-3.3.1

In [202]:
# import Sastrawi package
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# stem
sentence = 'indonesia pelajaran'
output   = stemmer.stem(sentence)

print(output)
# ekonomi indonesia sedang dalam tumbuh yang bangga

print(stemmer.stem('indonesia mensudahi'))
# mereka tiru

indonesia ajar
indonesia sudah

In [1]:
import requests
import string
import re
from flask import Flask, render_template, request
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
#nltk.download('stopwords')

In [2]:
def generate_N_grams(text,ngram=2):
    words = [word for word in text.split(" ") if word not in stopwords.words('indonesian')]  
    print("Sentence after removing stopwords:",words)
    temp=zip(*[words[i:] for i in range(0,ngram)])
    ans=[' '.join(ngram) for ngram in temp]
    return ans

In [2]:
kalimat = 'Laporan Wartawan Tribunnews.com- Aisyah Nursyamsi TRIBUNNEWS.COM, JAKARTA- Juru Bicara Pemerintah untuk Covid-19, dr. Reisa Broto Asmoro menyebutkan jika saat ini jumlah vaksin lengkap telah mencapai 44,7 persen dari 208 juta sasaran.Namun ia pun kembali mengingatkan jika angka tersebut harus terus ditingkatkan. Pasalnya, Indonesia memiliki target capaian vaksin harus sampai 70 persen pada 31 Desember 2021 nanti.  "Tepatnya sebelum jam 24.00 saat tahun baru berganti," ungkap Reisa pada Konferensi Pers Virtual, Jumat ,(26/11/2021). Kata Reisa, Indonesia sudah menerima cukup banyak vaksin. Yaitu sudah hampir 360 juta dosis. Selain itu kata dr Reisa, jutaan vaksin lainnya akan terus berdatangan, termasuk akhir pekan ini. "Maka, segera divaksin bagi yang belum dan lengkap bagi mereka yang baru menerima satu dosis. Pastikan cakupan vaksinasi terutama lansia, tinggi. Terutama di semua provinsi dan kabupaten kota yang masih rendah," katanya lagi. Reisa pun kembali mewanti-wanti jika vaksin dapat menekan angka kematian dan perawatan rumah sakit secara drastis. "WHO menjelaskan bahwa fungsi vaksin tidak diukur dari efikasi, namun dari kemampuan vaksinasi memberikan memori kepada sel tubuh. Sehingga selalu membangun imunitas pada setiap virus yang masuk," pungkasnya.'
#Laporan Wartawan Tribunnews.com- Aisyah Nursyamsi TRIBUNNEWS.COM, JAKARTA- Juru Bicara Pemerintah untuk Covid-19, dr. Reisa Broto Asmoro menyebutkan jika saat ini jumlah vaksin lengkap telah mencapai 44,7 persen dari 208 juta sasaran.Namun ia pun kembali mengingatkan jika angka tersebut harus terus ditingkatkan. Pasalnya, Indonesia memiliki target capaian vaksin harus sampai 70 persen pada 31 Desember 2021 nanti.  "Tepatnya sebelum jam 24.00 saat tahun baru berganti," ungkap Reisa pada Konferensi Pers Virtual, Jumat ,(26/11/2021). Kata Reisa, Indonesia sudah menerima cukup banyak vaksin. Yaitu sudah hampir 360 juta dosis. Selain itu kata dr Reisa, jutaan vaksin lainnya akan terus berdatangan, termasuk akhir pekan ini. "Maka, segera divaksin bagi yang belum dan lengkap bagi mereka yang baru menerima satu dosis. Pastikan cakupan vaksinasi terutama lansia, tinggi. Terutama di semua provinsi dan kabupaten kota yang masih rendah," katanya lagi. Reisa pun kembali mewanti-wanti jika vaksin dapat menekan angka kematian dan perawatan rumah sakit secara drastis. "WHO menjelaskan bahwa fungsi vaksin tidak diukur dari efikasi, namun dari kemampuan vaksinasi memberikan memori kepada sel tubuh. Sehingga selalu membangun imunitas pada setiap virus yang masuk," pungkasnya.
#Laporan Wartawan Tribunnews.com, Fransiskus AdhiyudaTRIBUNNEWS.COM, JAKARTA - Presiden Joko Widodo (Jokowi) berharap perspektif technopreneur atau kewirausahaan berbasis teknologi yang selama ini menjadi keunggulan Universitas Multimedia Nusantara (UMN) ini juga sangat penting untuk diperkuat.Pasalnya, Jokowi menilai hal tersebut melatih mahasiswa untuk memecahkan sejumlah masalah dengan memanfaatkan teknologi.Hal itu disampaikan Presiden Jokowi dalam Webinar Kebangsaaan dan Dies Natalis 15 Tahun UMN yang disiarkan kanal YouTube Universtitas Multimedia Nusantara, Kamis (25/11/2021)."Melatih mahasiswa untuk memecahkan masalah sosial, masalah kemanusian, dan masalah kebangsaan dengan memanfaatkan teknologi secara inovatif dan berkewirausahaan dengan perspektif yang ramah lingkungan dan berkelanjutan," kata Jokowi.Lebih lanjut, Presiden Jokowi mengatakan, pengembangan iptek dan inovasi yang berwawasan kewirausahaan dan berkelanjutan adalah kunci untuk menjadi negara maju. "Kita harus secepatnya keluar dari jebakan pengekspor bahan mentah dan secepatnya memperkokoh industrialisasi hijau, memanfaatkan green technology," ucap Jokowi.Selain itu, langkah pembangunan harus memberikan nilai tambah yang lebih besar bagi perekonomian nasional, menciptakan lapangan kerja yang semakin banyak menurunkan angka pengangguran dan juga sekaligus menekan angka kemiskinan. Menurut Jokowi, pekerjaan besar ini tidak bisa dilakukan oleh pemerintah saja. Maka, Kepala Negara mengajak seluruh elemen masyarakat untuk memberikan kontribusinya. Terutama, kolaborasi antara perguruan tinggi dengan industri dan masyarakat luas menjadi sangatlah penting"Kita butuh para peneliti dan ilmuwan hebat, tetapi kita butuh para entrepreneur, para technopreneur yang sangat banyak, yang merintis diri menjadi industriawan hebat dan menjadikan indonesia menjadi negara industri yang berpengaruh," ujar Jokowi."Saya berharap perguruan tinggi di seluruh indonesia untuk semakin serius bergerak ke arah ini dengan jumlah mahasiswa di Indonesia yang sekitar 8 juta orang akan menjadi kekuatan besar untuk menggerakkan transformasi Indonesia," jelasnya.
punc = '''!()[]{};:'â€™"\,<>./?@#$%^&*_~'''
words_to_remove = ['ini','juga','hal','dan','dengan','adalah','untuk','kita','yang','tetapi','saja','maka','akan', 'di', 'secara']

def remove_punc(teks) :
    for a in teks:
        if a in punc:
            teks = teks.replace(a, "")
    # Create a regular expression pattern to match the words to remove with word boundaries
    pattern = r'\b(?:' + '|'.join(re.escape(word) for word in words_to_remove) + r')\b'

    # Replace matched words with an empty string
    teks = re.sub(pattern, '', teks)
    return teks

In [3]:
kalimat = kalimat.lower()
kalimat = re.sub(r'\d', '',kalimat)
kalimat = remove_punc(kalimat)
kalimat = ' '.join(kalimat.split())
kalimat

'laporan wartawan tribunnewscom- aisyah nursyamsi tribunnewscom jakarta- juru bicara pemerintah covid- dr reisa broto asmoro menyebutkan jika saat jumlah vaksin lengkap telah mencapai persen dari juta sasarannamun ia pun kembali mengingatkan jika angka tersebut harus terus ditingkatkan pasalnya indonesia memiliki target capaian vaksin harus sampai persen pada desember nanti tepatnya sebelum jam saat tahun baru berganti ungkap reisa pada konferensi pers virtual jumat kata reisa indonesia sudah menerima cukup banyak vaksin yaitu sudah hampir juta dosis selain itu kata dr reisa jutaan vaksin lainnya terus berdatangan termasuk akhir pekan segera divaksin bagi belum lengkap bagi mereka baru menerima satu dosis pastikan cakupan vaksinasi terutama lansia tinggi terutama semua provinsi kabupaten kota masih rendah katanya lagi reisa pun kembali mewanti-wanti jika vaksin dapat menekan angka kematian perawatan rumah sakit drastis who menjelaskan bahwa fungsi vaksin tidak diukur dari efikasi namun dari kemampuan vaksinasi memberikan memori kepada sel tubuh sehingga selalu membangun imunitas pada setiap virus masuk pungkasnya'

In [4]:
def generate_bigrams(text):
    list_bigrams = []
    words = text.split()  # Split the text into words
    bigrams = [(words[i], words[i + 1]) for i in range(len(words) - 1)]
    for bigram in bigrams:
        bigrams = ' '.join(bigram)
        list_bigrams.append(bigrams)
    return list_bigrams

In [5]:
list_kata = generate_bigrams(kalimat)

In [6]:
import pandas as pd
katamajemuk = pd.read_csv('listmajemuk.csv')
list_katamajemuk = katamajemuk['kata majemuk'].values.tolist()

In [7]:
import jellyfish

In [8]:
def damerau_levenshtein(str1, str2):
    len_str1, len_str2 = len(str1), len(str2)

    # Create a matrix to store the edit distances
    d = [[0] * (len_str2 + 1) for _ in range(len_str1 + 1)]

    # Initialize the first row and column of the matrix
    for i in range(len_str1 + 1):
        d[i][0] = i
    for j in range(len_str2 + 1):
        d[0][j] = j

    # Populate the matrix using dynamic programming
    for i in range(1, len_str1 + 1):
        for j in range(1, len_str2 + 1):
            cost = 0 if str1[i - 1] == str2[j - 1] else 1

            # Calculate the minimum of the three possible operations
            d[i][j] = min(
                d[i - 1][j] + 1,      # Deletion
                d[i][j - 1] + 1,      # Insertion
                d[i - 1][j - 1] + cost  # Substitution
            )

            # Check for a transposition (Damerau condition)
            if i > 1 and j > 1 and str1[i - 1] == str2[j - 2] and str1[i - 2] == str2[j - 1]:
                d[i][j] = min(d[i][j], d[i - 2][j - 2] + cost)

    # The Damerau-Levenshtein distance is the value in the bottom-right cell of the matrix
    return d[len_str1][len_str2]

In [182]:
distance1 = damerau_levenshtein("cba", "abc")
distance1

2

In [9]:
def jaccardsimilarity(list1, list2) :
    s1 = set(list1)
    s2 = set(list2)
    return float(len(s1.intersection(s2))/len(s1.union(s2)))

In [10]:
# Calculate Levenshtein distances
data = []
majemuk_terdeteksi = []
kata_majemuk = []
jaccard = []
i=0
j=0
for a in list_kata:
    for b in list_katamajemuk:
        distance1 = damerau_levenshtein(list_kata[i], list_katamajemuk[j])
        if (distance1<=3):
            majemuk_terdeteksi.append(list_kata[i])
            data.append([list_kata[i], list_katamajemuk[j], distance1, jellyfish.jaro_winkler(list_kata[i], list_katamajemuk[j])])
        j=j+1
    i=i+1
    j=0

res = []
for i in majemuk_terdeteksi:
    if i not in res:
        res.append(i)

In [11]:
dfzz = pd.DataFrame(data, columns=["Majemuk terdeteksi", "Majemuk Koreksi", "Jumlah huruf typo", "Jaccard"])
dfzz = dfzz.sort_values(by=['Jumlah huruf typo'], ascending=True)
dfzz

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
17        rumah sakit     rumah sakit                  0  1.000000
3         juru bicara     juru bicara                  0  1.000000
10           itu kata        ibu kota                  2  0.800000
15      menekan angka    menang angka                  3  0.902234
14        akhir pekan     akhir kelak                  3  0.905051
13            kata dr        mata air                  3  0.779762
12           itu kata       tata kata                  3  0.694444
11           itu kata       suku kata                  3  0.750000
9            itu kata        ibu kaki                  3  0.775000
0         juru bicara      jam bicara                  3  0.858182
7          saat tahun      suku tahun                  3  0.777143
6         juru bicara    putus bicara                  3  0.856061
5         juru bicara      juru mitar                  3  0.905455
4         juru bicara      juru cacar                  3  0.921414
2         juru bicara      juru bayar                  3  0.921414
1         juru bicara     juru bahasa                  3  0.890909
16        rumah sakit     rumah makan                  3  0.890909
8          tahun baru      tahan palu                  3  0.826667

In [12]:
dfz = pd.DataFrame(data, columns=["Majemuk terdeteksi", "Majemuk Koreksi", "Jumlah huruf typo", "Jaccard"])
dfz = dfz.sort_values(by=['Jumlah huruf typo'], ascending=True)
dfz

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
3         juru bicara     juru bicara                  0  1.000000
17        rumah sakit     rumah sakit                  0  1.000000
10           itu kata        ibu kota                  2  0.750000
0         juru bicara      jam bicara                  3  0.777778
16        rumah sakit     rumah makan                  3  0.636364
15      menekan angka    menang angka                  3  1.000000
14        akhir pekan     akhir kelak                  3  0.700000
13            kata dr        mata air                  3  0.500000
12           itu kata       tata kata                  3  0.666667
11           itu kata       suku kata                  3  0.714286
9            itu kata        ibu kaki                  3  0.714286
7          saat tahun      suku tahun                  3  0.875000
6         juru bicara    putus bicara                  3  0.636364
5         juru bicara      juru mitar                  3  0.600000
4         juru bicara      juru cacar                  3  0.750000
2         juru bicara      juru bayar                  3  0.666667
1         juru bicara     juru bahasa                  3  0.600000
8          tahun baru      tahan palu                  3  0.600000
18       sakit secara    sakit kepala                  3  0.636364

In [19]:
dff = dfzz[dfzz['Jaccard'].apply(lambda x: x >= 0.85)]
dff

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
17        rumah sakit     rumah sakit                  0  1.000000
3         juru bicara     juru bicara                  0  1.000000
15      menekan angka    menang angka                  3  0.902234
14        akhir pekan     akhir kelak                  3  0.905051
0         juru bicara      jam bicara                  3  0.858182
6         juru bicara    putus bicara                  3  0.856061
5         juru bicara      juru mitar                  3  0.905455
4         juru bicara      juru cacar                  3  0.921414
2         juru bicara      juru bayar                  3  0.921414
1         juru bicara     juru bahasa                  3  0.890909
16        rumah sakit     rumah makan                  3  0.890909

In [67]:
df = pd.DataFrame(data, columns=["Majemuk terdeteksi", "Majemuk Koreksi", "Jumlah huruf typo", "Jaccard"])
df = df.sort_values(by=['Jumlah huruf typo'], ascending=True)
df

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
3         juru bicara     juru bicara                  0  1.000000
17        rumah sakit     rumah sakit                  0  1.000000
10           itu kata        ibu kota                  2  0.272727
0         juru bicara      jam bicara                  3  0.461538
16        rumah sakit     rumah makan                  3  0.461538
15      menekan angka    menang angka                  3  0.583333
14        akhir pekan     akhir kelak                  3  0.357143
13            kata dr        mata air                  3  0.300000
12           itu kata       tata kata                  3  0.500000
11           itu kata       suku kata                  3  0.500000
9            itu kata        ibu kaki                  3  0.272727
7          saat tahun      suku tahun                  3  0.384615
6         juru bicara    putus bicara                  3  0.400000
5         juru bicara      juru mitar                  3  0.357143
4         juru bicara      juru cacar                  3  0.500000
2         juru bicara      juru bayar                  3  0.461538
1         juru bicara     juru bahasa                  3  0.333333
8          tahun baru      tahan palu                  3  0.200000
18       sakit secara    sakit kepala                  3  0.294118

In [68]:
dff = df[df['Jaccard'].apply(lambda x: x >= 0.5)]
dff

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
3         juru bicara     juru bicara                  0  1.000000
17        rumah sakit     rumah sakit                  0  1.000000
15      menekan angka    menang angka                  3  0.583333
12           itu kata       tata kata                  3  0.500000
11           itu kata       suku kata                  3  0.500000
4         juru bicara      juru cacar                  3  0.500000

In [155]:
df0 = dfzz[dfzz['Jumlah huruf typo'].apply(lambda x: x == 0)]
df1 = dfzz[dfzz['Jumlah huruf typo'].apply(lambda x: x == 1)]
df2 = dfzz[dfzz['Jumlah huruf typo'].apply(lambda x: x == 2)]
df3 = dfzz[dfzz['Jumlah huruf typo'].apply(lambda x: x == 3)]

In [156]:
df1 = df1[~df1['Majemuk terdeteksi'].isin(df0['Majemuk terdeteksi'])]

df2 = df2[~df2['Majemuk terdeteksi'].isin(df0['Majemuk terdeteksi'])]
df2 = df2[~df2['Majemuk terdeteksi'].isin(df1['Majemuk terdeteksi'])]

df3 = df3[~df3['Majemuk terdeteksi'].isin(df0['Majemuk terdeteksi'])]
df3 = df3[~df3['Majemuk terdeteksi'].isin(df1['Majemuk terdeteksi'])]
df3 = df3[~df3['Majemuk terdeteksi'].isin(df2['Majemuk terdeteksi'])]

In [158]:
df2 = df2[df2['Jaccard'].apply(lambda x: x >= 0.83)]
df3 = df3[df3['Jaccard'].apply(lambda x: x >= 0.79)]

In [160]:
df3

   Majemuk terdeteksi Majemuk Koreksi  Jumlah huruf typo   Jaccard
15      menekan angka    menang angka                  3  0.902234
14        akhir pekan     akhir kelak                  3  0.905051
8          tahun baru      tahan palu                  3  0.826667

In [115]:
coba1 = df3['Majemuk terdeteksi'].values.tolist()
coba2 = df3['Majemuk Koreksi'].values.tolist()

In [140]:
word1 = "slah dmgar"
word2 = "salah dengar"
jac1 = special_ngrams(word1,2)
jac2 = special_ngrams(word2,2)
jac11 = list(special_ngrams(word1,2))
jac22 = list(special_ngrams(word2,2))
print(damerau_levenshtein(word1, word2))
print(jaccardsimilarity(jac1, jac2))
print(jaccardsimilarity(word1,word2))
print(jaccardsimilarity(jac11, jac22))
print(jellyfish.jaro_winkler(word1, word2))

3
0.42857142857142855
0.7272727272727273
0.42857142857142855
0.7949999999999999

In [119]:
i=0
e=[]
k=[]
ngram_teks = []
ngram_majemuk = []
for d in coba1:
    c = list(special_ngrams(coba1[i],2))
    i=i+1
    e.append(c)

i=0
    
for d in coba2:
    c = list(special_ngrams(coba2[i],2))
    i=i+1
    k.append(c)
    
    
# Remove duplicates from each sub-array
result = [list(set(sub_array)) for sub_array in e]
result2 = [list(set(sub_array2)) for sub_array2 in k]

# Print the result
for sub_array in result:
    ngram_teks.append(sub_array)

# Print the result
for sub_array2 in result2:
    ngram_majemuk.append(sub_array2)

In [120]:
ngram_majemuk

[['an', 'gk', ' a', 'en', 'na', 'g ', 'ka', 'me', 'ng'],
 ['ta', 'a ', 'at', ' k', 'ka'],
 ['ta', 'u ', 'ku', 'uk', 'at', 'su', ' k', 'ka']]

In [127]:
for b in range(3):
    print(coba1[b],coba2[b],jaccard(ngram_teks[b], ngram_majemuk[b]))

menekan angka menang angka 0.5833333333333334
itu kata tata kata 0.5
itu kata suku kata 0.5

In [72]:
majemukterdeteksi = df3['Majemuk terdeteksi'].values.tolist()
majemukkoreksi = df3['Majemuk Koreksi'].values.tolist()

In [73]:
majemukterdeteksi

['menekan angka', 'itu kata', 'itu kata']

In [36]:
x = []
j = 0
for i in majemukterdeteksi:
    y = majemukterdeteksi[j].split()
    j=j+1
    x.append(y)
x

[['kepala', 'negara'],
 ['kepala', 'negara'],
 ['orang', 'akan'],
 ['tinggi', 'di'],
 ['tinggi', 'di'],
 ['kepala', 'negara'],
 ['masalah', 'dengan'],
 ['kepala', 'negara'],
 ['maka', 'kepala'],
 ['menekan', 'angka'],
 ['nilai', 'tambah'],
 ['orang', 'akan'],
 ['orang', 'akan']]

In [63]:
import pickle
trained_model = pickle.load(open('trained_model.pkl', 'rb'))

model = trained_model['model']

vectorizer = trained_model['vectorizer']

In [74]:
data_test = majemukterdeteksi

data_test = vectorizer.transform(data_test)

In [75]:
pred = model.predict(data_test)

In [85]:
# Load the data
import difflib
df_correct = pd.read_csv('listmajemuk.csv')
df_correction = df_correct['kata majemuk'].values

typo_word = []
words_correction = []
salah_tik = []
counter = 1

for index in range(len(majemukterdeteksi)):
          
    if pred[index] == 'incorrect':
        # typo_word.append(f"{counter}. Kata {tokens[index].upper()} adalah typo.")
        typo_word.append([counter, majemukterdeteksi[index]])
        counter += 1

        salah_tik.append(majemukterdeteksi[index])
                
        correction = majemukterdeteksi[index]
        
        matches = difflib.get_close_matches(correction, df_correction, n=15, cutoff=0.75)
        
        words=[]
        
        for idx in range(len(matches)):
            if matches[idx][0] == majemukterdeteksi[index][0]:
                            if len(matches[idx]) == len(majemukterdeteksi[index]) or len(matches[idx]) == len(majemukterdeteksi[index]) - 1 or len(matches[idx]) == len(majemukterdeteksi[index]) + 1:
                                words.append(matches[idx])
                            print(words)

['menang angka']
['ibu kota']
['ibu kota']

In [77]:
typo_word

[[1, 'menekan angka'], [2, 'itu kata'], [3, 'itu kata']]

In [78]:
salah_tik

['menekan angka', 'itu kata', 'itu kata']

In [84]:
words

['ibu kota']

In [16]:
import pandas as pd

d1 = {'A': ['tes', 'tus', 'tas', 'tes'], 'B': ['tes', 'tus', 'tas', 'tes']}

source_df = pd.DataFrame(d1)
source_df

     A    B
0  tes  tes
1  tus  tus
2  tas  tas
3  tes  tes

In [17]:
a = source_df.groupby('A', as_index=False)['B'].apply(', '.join)
a

     A         B
0  tas       tas
1  tes  tes, tes
2  tus       tus

In [47]:
data2 = [[1, [2, 3, 4]],
        [2, [5, 6, 7]],
        [3, [8, 9, 10]]]

df2 = pd.DataFrame(data2, columns=['id', 'values'])
df2

   id      values
0   1   [2, 3, 4]
1   2   [5, 6, 7]
2   3  [8, 9, 10]

In [51]:
df2['sum'] = df2['values'].apply(sum)
df2

   id      values  sum
0   1   [2, 3, 4]    9
1   2   [5, 6, 7]   18
2   3  [8, 9, 10]   27

In [ ]:
df1 = df1[~df1['column_name'].isin(df2['column_name'])]

In [111]:
#TRIGRAMS FOR LIST KATA
def generate_trigrams(word):
    trigrams = []
    for i in range(len(word) - 2):
        trigram = word[i:i + 3]
        trigrams.append(trigram)
    return trigrams

# Example list of words
words = list_kata

# Generate trigrams for each word in the list
trigrams_list = []

for word in words:
    trigrams = generate_trigrams(word)
    trigrams_list.append(trigrams)

In [42]:
#TRIGRAMS FOR KATA MAJEMUK
words = list_katamajemuk
g = []
i=0
for x in words:
    f = generate_trigrams(words[i])
    i=i+1
    g.append(f)

In [148]:
#TRIGRAMS FOR KATA MAJEMUK TERDETEKSI
words = res
l = []
i=0
for x in words:
    f = generate_trigrams(words[i])
    i=i+1
    l.append(f)

In [175]:
i=0
j=0
list_jac=[]
katabenar=[]
new_list=[]
new_list2=[]
kata_majemuk = []
for p in res :
    for t in list_katamajemuk:
        a = jaccardsimilarity(l[i],g[j])
        if (1 <= a >= 0.5):
            print(res[i], a, l[i], g[j], list_katamajemuk[j])
            katabenar.append(res[i])
            kata_majemuk.append(list_katamajemuk[j])
            for benar in katabenar:
                if benar not in new_list:
                    new_list.append(benar)
            for benar in kata_majemuk:
                if benar not in new_list2:
                    new_list2.append(benar)
        j=j+1
    i=i+1
    j=0
print(new_list)
print(new_list2)

juru bicara 1.0 ['jur', 'uru', 'ru ', 'u b', ' bi', 'bic', 'ica', 'car', 'ara'] ['jur', 'uru', 'ru ', 'u b', ' bi', 'bic', 'ica', 'car', 'ara'] juru bicara
rumah sakit 1.0 ['rum', 'uma', 'mah', 'ah ', 'h s', ' sa', 'sak', 'aki', 'kit'] ['rum', 'uma', 'mah', 'ah ', 'h s', ' sa', 'sak', 'aki', 'kit'] rumah sakit
['juru bicara', 'rumah sakit']
['juru bicara', 'rumah sakit']

In [150]:
df = pd.DataFrame({
    'Kata Majemuk Terdeteksi' : new_list,
    'Kata Majemuk Koreksi' : new_list2
})
df

  Kata Majemuk Terdeteksi Kata Majemuk Koreksi
0             juru bicara          juru bicara
1             rumah sakit          rumah sakit

In [10]:
# Calculate Levenshtein distances
majemuk_terdeteksi0 = []
majemuk_terdeteksi1 = []
majemuk_terdeteksi2 = []
majemuk_terdeteksi3 = []
i=0
j=0
for a in list_kata:
    for b in list_katamajemuk:
        distance1 = damerau_levenshtein(list_kata[i], list_katamajemuk[j])
        if (distance1==3):
            majemuk_terdeteksi3.append(list_kata[i])
        elif (distance1==2):
            majemuk_terdeteksi2.append(list_kata[i])
        elif (distance1==1):
            majemuk_terdeteksi1.append(list_kata[i])
        elif (distance1==0):
            majemuk_terdeteksi0.append(list_kata[i])
        j=j+1
    i=i+1
    j=0

In [11]:
res0 = []   
res1 = []
res2 = []
res3 = []

for i in majemuk_terdeteksi0:
    if i not in res0:
        res0.append(i)
        
#Marjemuk terdeteksi dengan kesalahan 1 huruf
for i in majemuk_terdeteksi1:
    if i not in res1:
        res1.append(i)
        
new1=[]
for i in res1:
    if i not in res0:
        new1.append(i)

#Marjemuk terdeteksi dengan kesalahan 2 huruf
for i in majemuk_terdeteksi2:
    if i not in res2:
        res2.append(i)

new2=[]
for i in res2:
    if i not in res0:
        new2.append(i)
new22=[]
for i in new2:
    if i not in new1:
        new22.append(i)
        
        
#Marjemuk terdeteksi dengan kesalahan 3 huruf  
for i in majemuk_terdeteksi3:
    if i not in res3:
        res3.append(i)

new3=[]
for i in res3:
    if i not in res0:
        new3.append(i)
new32=[]        
for i in new3:
    if i not in new1:
        new32.append(i)
new33=[]        
for i in new32:
    if i not in new22:
        new33.append(i)
        
print(res0)
print("======================")
print(new1)
print("======================")
print(new22)
print("======================")
print(new33)

['juru bicara', 'rumah sakit']
======================
[]
======================
['itu kata']
======================
['saat tahun', 'tahun baru', 'kata dr', 'akhir pekan', 'bagi yang', 'kota yang', 'menekan angka', 'sakit secara']

In [15]:
#BIGRAMS FOR LIST KATA
i=0
k = []
for word in list_katamajemuk:
    f = list(special_ngrams(list_katamajemuk[i],2))
    i = i+1
    k.append(f)

In [17]:
word1 = "anak bangsawan"
word2 = ""
jac1 = special_ngrams(word1,2)
jac2 = special_ngrams(word2,2)
print(damerau_levenshtein(word1, word2))
print(jaccardsimilarity(jac1, jac2))

0
1.0

In [22]:
word1 = "kata dr"
word2 = "menang angka"
jac1 = generate_trigrams(word1)
jac2 = generate_trigrams(word2)
print(damerau_levenshtein(word1, word2))
print(jaccardsimilarity(jac1, jac2))

NameError: name 'generate_trigrams' is not defined

In [13]:
jaccardsimilarity("itu kata","ibu kota")

0.75

In [131]:
from fuzzywuzzy import fuzz

# Example words
word1 = "kata"
word2 = "kota"

# Calculate the similarity score between the two words
similarity_score = fuzz.ratio(word1, word2)

# Print the similarity score
print(f"Similarity Score: {similarity_score}")

Similarity Score: 75

In [141]:
p = [[1,2], [2,3], [3,4]]
p[0][1]

2

In [38]:
tokenized = [[]]
i=0
for a in list_kata:
    tokenized = a.split()
    i = i + 1
print(tokenized)

['papa-popo', 'kaka']

In [95]:
def jaccard(list1, list2):
    intersection = len(list(set(list1).intersection(list2)))
    union = (len(list1) + len(list2)) - intersection
    return float(intersection) / union

In [13]:
def special_ngrams(word, n):
    """ Yield character ngrams of word that overlap by only one character, 
        except for the last two ngrams which may overlap by more than one 
        character. The first and last ngrams of the word are always included. """
    for start in range(0, len(word) - n, n - 1):
        yield word[start:start + n]
    yield word[-n:]

In [16]:
i=0
e=[]
ngram_teks = []
ngram_majemuk = []
for d in res:
    c = list(special_ngrams(res[i],2))
    i = i+1
    e.append(c)
    
# Remove duplicates from each sub-array
result = [list(set(sub_array)) for sub_array in e]
result2 = [list(set(sub_array2)) for sub_array2 in k]

# Print the result
for sub_array in result:
    ngram_teks.append(sub_array)

# Print the result
for sub_array2 in result2:
    ngram_majemuk.append(sub_array2)

In [83]:
print(trigrams_list[9])
print(g[8])
jaccard(trigrams_list[9], g[8])

['Ana', 'nak', 'ak ', 'k B', ' Ba', 'Bat', 'atu']
['Bia', 'ian', 'ang', 'ng ', 'g K', ' Ke', 'Kel', 'ela', 'lad', 'adi']

0.0

In [21]:
i=0
j=0
list_jac=[]
katabenar=[]
new_list=[]
for p in res :
    for t in list_katamajemuk:
        a = jaccardsimilarity(ngram_teks[i],ngram_majemuk[j])
        list_jac.append(a)
        if (a >= 0.41):
            print(res[i], a, ngram_teks[i], ngram_majemuk[j], list_katamajemuk[j])
            katabenar.append(res[i])
            for benar in katabenar:
                if benar not in new_list:
                    new_list.append(benar)
        j=j+1
    i=i+1
    j=0
print(new_list)

juru bicara 0.46153846153846156 ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] ['bi', 'ra', 'm ', 'ja', 'am', 'ar', 'ic', ' b', 'ca'] jam bicara
juru bicara 0.46153846153846156 ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] ['ay', 'ur', 'ru', 'ya', 'ju', 'u ', 'ba', 'ar', ' b'] juru bayar
juru bicara 1.0 ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] juru bicara
juru bicara 0.5 ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] ['ur', 'ru', 'ju', ' c', 'u ', 'ac', 'ar', 'ca'] juru cacar
juru bicara 0.4166666666666667 ['bi', 'ra', 'ur', 'ru', 'ju', 'u ', 'ar', 'ic', ' b', 'ca'] ['bi', 'ir', 'ru', 'u ', 'ar', 'ha', ' b'] haru biru
tahun baru 0.4166666666666667 ['ah', 'un', 'ru', ' b', 'ba', 'ar', 'ta', 'n ', 'hu'] ['ah', ' b', 'u ', 'as', 'ba', 'ta', 'at', 'hu'] tahu batas
itu kata 0.5 [' k', 'u ', 'ta', 'ka', 'tu', 'at', 'it'] [' k', 'u ', 'ku', 'uk', 'su', 'ta', 'ka', 'at'] suku kata
itu kata 0.5 [' k', 'u ', 'ta', 'ka', 'tu', 'at', 'it'] [' k', 'ka', 'a ', 'ta', 'at'] tata kata
kata dr 0.5714285714285714 ['dr', 'a ', ' d', 'ta', 'ka', 'at'] [' k', 'ka', 'a ', 'ta', 'at'] tata kata
kata dr 0.5555555555555556 ['dr', 'a ', ' d', 'ta', 'ka', 'at'] ['de', 'ma', 'ka', 'a ', ' d', 'ta', 'at', 'ek'] mata dekat
menekan angka 0.5833333333333334 ['gk', 'an', 'me', 'en', 'ne', 'ng', 'n ', 'ka', ' a', 'ek'] ['gk', 'an', 'na', 'me', 'en', 'ng', 'g ', 'ka', ' a'] menang angka
rumah sakit 0.46153846153846156 ['ah', 'um', 'ru', 'sa', 'ma', 'h ', 'ak', 'ki', 'it', ' s'] ['ah', 'um', 'ru', 'an', 'ma', 'h ', 'ak', ' m', 'ka'] rumah makan
rumah sakit 1.0 ['ah', 'um', 'ru', 'sa', 'ma', 'h ', 'ak', 'ki', 'it', ' s'] ['ah', 'um', 'ru', 'sa', 'ma', 'h ', 'ak', 'ki', 'it', ' s'] rumah sakit
rumah sakit 0.42857142857142855 ['ah', 'um', 'ru', 'sa', 'ma', 'h ', 'ak', 'ki', 'it', ' s'] ['sa', 'uh', 'ja', 'h ', 'ak', 'ki', 'at', 'tu', 'it', ' s'] jatuh sakit
['juru bicara', 'tahun baru', 'itu kata', 'kata dr', 'menekan angka', 'rumah sakit']

In [18]:
jaccard("juru bicara", "juru bicara")

0.5714285714285714

In [89]:
i=0
list_jac=[]
katabenar=[]
for p in list_katamajemuk :
    a = jaccard(e[0],g[i])
    list_jac.append(a)
    r = max(list_jac)
    if(jaccard(e[0],g[i])==r):
        print(g[i], list_katamajemuk[i])
    i=i+1
print(r)

['An', 'na', 'ak', 'k ', ' A', 'Ai', 'ir'] Anak Air
['An', 'na', 'ak', 'k ', ' A', 'Ap', 'pi'] Anak Api
0.625